latex/presentation.aux
latex/presentation.fdb_latexmk
latex/presentation.fls
latex/presentation.log
latex/presentation.nav
latex/presentation.out
latex/presentation.snm
latex/presentation.synctex.gz
latex/presentation.toc
